<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
</head>
<body>
  <h2>Hello {{name}}! </h2>
  <p>We're pleased to inform you that you application to {{event}} has been approved. </p>
</body>
</html>